:root{
    --primaryBlue: #14213D;
    --secondaryGray: #748386;
    --backgroundWhite: #EBEBEB;
    --accentOrange: #FCA311;
    --markingBlack: #000000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    color: var(--accentOrange);
}
h6{
    color: var(--secondaryGray);
}
body{
    background-color: var(--backgroundWhite);
}
.navbar{
    background-color: var(--backgroundWhite);
}

.main{
    margin-top: 60px;
    margin-bottom: 15px;
    width: 100%;
}
.row{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
header{
    background-color: var(--primaryBlue);
    position: fixed;
    height: 56px;
    top: 0;
    width: 100%;
}
footer{
    background-color: var(--primaryBlue);
    position: fixed; 
    bottom: 0;
    color: var(--secondaryGray);
    width: 100%;
    /*height: 20px;
    padding: 5px;*/
}

#mainHeader{
    text-align: center;
}